<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <th:block th:replace="fragments/head :: head"></th:block>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <th:block th:replace="fragments/navbar :: navbar('Find event')"></th:block>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>

        <th:block th:replace="fragments/javascript :: javascript"></th:block>
    </body>
</html>