<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

    <head>
        <th:block th:replace="fragments/head :: head"></th:block>
    </head>
    <body>
        <th:block th:replace="fragments/navbar :: navbar('Search Results')"></th:block>

        <div class="container-fluid">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>Contact Name</th>
                            <th>Contact Email</th>
                            <th>Contact Number</th>
                            <th>Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="default" th:each="event, rowStat : *{events}">
                            <td th:text="${event.address}">1</td>
                            <td th:text="${event.contactName}">1</td>
                            <td th:text="${event.contactEmail}">1</td>
                            <td th:text="${event.contactNumber}">1</td>
                            <td th:text="${event.info}">1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <th:block th:replace="fragments/javascript :: javascript"></th:block>
    </body>
</html>