<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

    <head>
        <th:block th:replace="fragments/head :: head"></th:block>
    </head>
    <body>
        <th:block th:replace="fragments/navbar :: navbar('Search Results')"></th:block>

        <div class="container-fluid">
            <div class="row">
                <div id="map"></div>
            </div>
            <div class="row" th:if="${events != null and not #lists.isEmpty(events)}">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="eventDetailsInline" class="table table-condensed">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Address</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <th:block th:each="event, rowStat : *{events}">
                                        <tr th:attr="data-target='#' + ${rowStat.index}" data-toggle="collapse" class="danger accordion-toggle">
                                            <td>
                                                <span class="glyphicon glyphicon-arrow-down"></span>
                                                <th:block th:text="${event.address}"></th:block>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="accordion-body collapse" th:id="${rowStat.index}">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="col-md-2"><b>Contact Name:</b></td>
                                                            <td class="col-md-10" th:text="${event.contactName}">1</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="col-md-2"><b>Contact Email:</b></td>
                                                            <td  class="col-md-10" th:text="${event.contactEmail}">1</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="col-md-2"><b>Contact Number:</b></td>
                                                            <td class="col-md-10"  th:text="${event.contactNumber}">1</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="col-md-2"><b>Info:</b></td>
                                                            <td class="col-md-10"  th:text="${event.info}">1</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:replace="fragments/javascript :: javascript"></th:block>

        <script th:inline="javascript">
        function initMap() {
            /*<![CDATA[*/
            var startingPoint = /*[[${startingPoint}]]*/ null;
            var events = /*[[${events}]]*/ null;

            if (events != null) {

                var mapLoc = {lat: events[0].latitude, lng: events[0].longitude};
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 4,
                  center: mapLoc
                });

                var bounds = new google.maps.LatLngBounds();
                var startingLoc = {lat: startingPoint.lat, lng: startingPoint.lng};
                var startingMarker = new google.maps.Marker({
                      position: startingLoc,
                      map: map,
                      icon: new google.maps.MarkerImage("https://maps.google.com/mapfiles/ms/icons/yellow-dot.png"),
                      title: startingPoint.address
                });
                bounds.extend(startingLoc);

                for (i = 0; i < events.length; i++) {
                    var eventLoc = {lat: events[i].latitude, lng: events[i].longitude};
                    var marker = new google.maps.Marker({
                      position: eventLoc,
                      map: map,
                      title: events[i].address
                    });

                    bounds.extend(eventLoc);
                }

                map.fitBounds(bounds);
            }
            /*]]>*/
          }
        </script>
        <script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQva4PIGIpH90hmOH2Pkc2KksG16g9NFg&amp;callback=initMap"></script>
    </body>
</html>